<h1>Forgot Password</h1>

<form action="/users/send-email" method="post">
    <label for="email">Enter valid email: </label>
    <input type="email" name="email" id="email">
    <input type="submit" value="Submit">
</form>