
<h1><%= title %></h1>

<section>
    <h3>Posts</h3>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>
</section>

