

<div id="home-container">
    <section>
        <h3>Posts</h3>
        <%if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" id="post-content"></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>
    
        <!-- showing posts -->
        <div id="posts-lists-container">
            <ul>
                <% for(post of posts){%>
    
                    <%- include('_posts'); -%>
    
                <%}%>
            </ul>
        </div>
    </section>
    
    <section id="user-friends">
        <h1>Friends</h1>
        <%for(u of allUsers){%>
            <li>
                <a href="users/profile/<%= u._id %>"><%= u.name %></a>
            </li>
            
        <%}%>
    </section>
    
    
</div>

<script src="/js/homePost.js" type="application/javascript"></script>
<script src="/js/toggleLikes.js" type="application/javascript"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
