<link rel="stylesheet" href="/css/profile.css">
<h1>Codeial / users / <%= title %></h1>
<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>
<button><a href="/users/sign-out">Sign Out</a></button>
<button><a href="/users/likes">Likes</a></button>
<button><a href="/users/posts">Posts</a></button>