<h1>Reset Password</h1>

<h4>Hi! <%=passToken.user.name%>,</h4>

<form action="/users/reset-password/?accessToken=<%=passToken.accessToken%>" method="post">
    <label for="newPass">Enter new Password:</label><br>
    <input type="password" name="password" id="newPass"><br><br>
    <label for="cnfPass">Re-Enter Password:</label><br>
    <input type="password" name="confirmPassword" id="cnfPass"><br>
    <br>
    <input type="submit" value="Submit">
</form>