<div>
    <p>Hi <%=comment.user.name%>!</p>
    <br>
    <p>Your Comment: <strong style="background-color: yellowgreen;"><%=comment.content%></strong> just got published in codeial</p>
    <br>
    <p>Thanks</p>
</div>