html, body {
  margin: 0;
  color: red;
  height: 100%;
  /* text-align: center; */ }

#layout-main {
  height: calc(100% - 60px - 80px);
  background-color: #7cebeb;
  padding-left: 20px;
  overflow: scroll; }
